<div class="mainView">
  {{~#-in-element nav~}}
    <li class="item">
      <a href="#/" class="link {{active '#/'}}">top</a>
    </li>
    <li class="item">
      <a href="#/new" class="link {{active '#/new'}}">new</a>
    </li>
    <li class="item">
      <a href="#/show" class="link {{active '#/show'}}">show</a>
    </li>
    <li class="item">
      <a href="#/ask" class="link {{active '#/ask'}}">ask</a>
    </li>
    <li class="item">
      <a href="#/jobs" class="link {{active '#/jobs'}}">jobs</a>
    </li>
    <li class="item">
      <a href="#/about" class="link {{active '#/about'}}">about</a>
    </li>
  {{~/-in-element~}}

  {{#if isListView}}
    <list-view @results={{results}} />
  {{else if isComments}}
    {{currentArticle.id}}
    <comments-route @article={{currentArticle}} @comments={{comments}} />
  {{else}}
    <about-route/>

  {{/if}}

</div>
